<div class="poll-form">
	<h2>New Poll</h2>
	<%= form_for @poll, poll_path(@conn, :create), [multipart: true], fn f -> %>
		<label>
			Title:<br />
			<%= text_input f, :title %>
		</label>
		<br />
		<label>
			Options (separated by commas):<br />
			<input type="text" name="options" />
		</label>
		<br />
		<label>
			Poll Image:
			<%= file_input f, :image %>
		</label>
		<br />
		<label>
			Image Caption:<br />
			<input type="text" name="image_data[caption]" />
		</label>
		<br />
		<label>
			Image Alt Text:<br />
			<input type="text" name="image_data[alt_text]" />
		</label>
		<br />

		<%= submit "Create" %>
	<% end %>
</div>
