<i id="enable-polls-channel" data-poll-id="<%= @poll.id %>"></i>
<button id="polls-ping" class="btn btn-primary">Ping Websocket</button>

<%= render("_poll.html", %{ poll: @poll, conn: @conn}) %>

<%= render(VocialWeb.SharedView, "_chat.html", messages: @poll.messages, chatroom: @poll.id) %>
