<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Vocial</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/polls">Polls</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>
