<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=egde">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="author" content="">

  	<title>Vocial - The Social Voting App!</title>
  	<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
 	</head>

 	<body>
 		<div class="container">
 			<header class="header">
 				<h4>Logo</h4>
 			</header>

			<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
 			<main role="main">
 				<%= render @view_module, @view_template, assigns %>
 			</main>

 		</div><!-- /container -->
 		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
 	</body>
 </html>
