<div>
	<%= form_tag session_path(@conn, :create) do %>
		<label>
			Username:<br />
			<input type="text" name="username">
		</label>
		<br />
		<label>
			Password:<br />
			<input type="password" name="password">
		</label>
		<br />
		<%= submit "Login" %>
	<% end %>
</div>
